 .im{
     width: fit-content;
     display: flex;
     flex-direction: column;
     padding: 20px;
}

 .menu{
     display: flex;
     justify-content: space-between;
       flex-direction: row-reverse;
    font-size: 12px;
    font-weight: 400;
    transition: 0.4s;
}


.font{
   font-family:cursive !important;
   border: none !important;
   outline: none;
   cursor: text;
   width: 70px;
}

.cursor{
    cursor: pointer;

}

.inStyle{
    border: none;
    outline: none;
    border-bottom: 0.1px solid;
    opacity: 0.7;
    width: 70px;
    font-family: sans-serif;
}

.imgs{
    width: fit-content;
    display: flex;
 
}

.bg-img{
    width: 100px;
    height: 180px;
    background-position: center;
    background-size: 100% 100%;
    margin: 5px 15px;
    cursor: pointer;
}

.bg-img:hover .bgr{
    opacity: 1;
}

.bgr{
    width: 100px;
    height: 180px;
    background-color:rgba(230, 22, 102, 0.6);
    opacity: 0;
    transition: 0.4s;
}

.bgr p{
    color: white;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 60% 5px;
}

.bottom{
     border-bottom: 1px dashed;
     cursor: pointer;
}

