<div class="im" [style.backgroundColor]="frames.background.color">

  <div class="menu">
    <div class="lettering" *ngIf='frames.painding.imgs.length>3' appMouseEvent>
      <form [formGroup]="validateForm">
        <input type="text" formControlName='text'
        [style.backgroundColor]="frames.background.color">
        <!-- <p *ngIf="validateForm.touched && validateForm.dirty,else letter">
          {{validateForm.get('text')?.value}}
        </p>
        <ng-template #letter>
          <input type="text" formControlName='text'
           [style.backgroundColor]="frames.background.color">
        </ng-template> -->
      </form>
    </div>
    <div class="delete">
      <p class="bottom" (click)="getApp(true)">delete text</p>
    </div>
    <div class="change ">
      <p class="bottom">poxel nkarnery</p>
    </div>
  </div>
  <div class="imgs">
    <img src={{img}} *ngFor='let img of frames.painding.imgs' class="letter-img">
  </div>

</div>