<div class="im" [style.backgroundColor]="frames.background.color">

  <div class="menu" #myHover>

    <div class="change ">
      <p class="bottom">poxel nkarnery</p>
    </div>
    <div class="delete">
      <p class="bottom" (click)="getApp(true)">delete text</p>
    </div>
    <div class="lettering" *ngIf='frames.painding.imgs.length>3' >
      <form [formGroup]="validateForm">
        <input type="text" formControlName='text' value="validateForm.get('text').value"
        [style.backgroundColor]="frames.background.color" class="inStyle" #letter>
      </form>
    </div>
  
   
  </div>
  <div class="imgs">
    <img src={{img}} *ngFor='let img of frames.painding.imgs' class="letter-img">
  </div>

</div>