 .im{
     width: fit-content;
     display: flex;
     flex-direction: column;
     padding: 20px;
}

 .menu{
     display: flex;
     justify-content: space-around;
     flex-direction: row-reverse;
     font-size: 12px;
     font-weight: 400;
     opacity: 0;
     transition: 0.4s;
}

.font{
   font-family:cursive;
   border: none !important;
   outline: none;
   cursor: text;
   width: 70px;
}

.cursor{
    cursor: pointer;
    margin-left: -13px;
}

.inStyle{
    border: none;
    outline: none;
    border-bottom: 0.1px solid;
    opacity: 0.7;
    width: 70px;
}

.imgs{
    width: fit-content;
    display: flex;
}

.letter-img{
     max-width: 100px;
     height: 180px;
     padding: 12px;
}

.bottom{
     border-bottom: 1px dashed;
     cursor: pointer;
}

