<header class="conteiner">
  <div class="catalog">
    <div class="carusel">
      <ul class="imageObject">
        <li *ngFor="let img of frames.imageObject,let i=index">
          <div [ngClass]="{'box-content': getImgId(i)}" class="mg-content">
            <img src={{img.thumbImage}} class="thumbImage" (click)="imageClick(i)">
          </div>
          <ul class="card">
            <li>arjeqy: {{img.sum}}</li>
            <li>baget: {{img.baget}}</li>
            <li>laynutyun{{img.width}}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="backgrounds">
      <div class="white" *ngFor="let item of frames.div" [style.backgroundColor]='item.color' (click)="changeBg(item)"
        [ngClass]="{'box-content':frames.background.id=== item.id}">
        <div class="text">{{item.color}}</div>
      </div>
    </div>
    <div class="imgColor">
      <div class="colorless" [style.backgroundColor]='block.color' *ngFor='let block of frames.imgColor'
        (click)="imgFone(block)" [ngClass]="{'box-content': block.id === frames.painding.id}">
        <div class="lessWhite" [style.backgroundColor]='block.child'></div>
        <p class="info">{{block.text}}</p>
      </div>
    </div>
  </div>


  <div  #block class="block" [ngStyle]="setStyle()">
    <div class="myWrap" >
      <div class="reight">
        <div class="squrl" [style.background-image]="'url(' + frames.frame?.img_left__top + ')'"></div>
        <div class="reight-he" [style.background-image]="'url(' + frames.frame?.img_left + ')'"></div>
        <div class="squrl" [style.background-image]="'url(' + frames.frame?.img_bottom_left + ')'"></div>
      </div>
      <div class="content">
        <div class="top" [style.background-image]="'url(' + frames.frame?.img_top + ')'"></div>
        <div class="letter" [style.backgroundColor]="frames.background.color" *ngIf='frames.isImg else create'>
          <form [formGroup]="validateForm">
            <input type="text" formControlName='text' maxlength="9" placeholder="ԳՐԵՔ ԲԱՌԸ">
          </form>
        </div>
        <div class="bottom" [style.background-image]="'url(' +frames.frame?.img_bottom + ')'">
          <p class="btn" (click)="open()" *ngIf='frames.isImg'>ինչպես գրել բառ, տառ և սիմվոլ</p>
        </div>
      </div>
      <div class="left">
        <div class="squrl" [style.background-image]="'url(' + frames.frame?.img_top_rigth + ')'"></div>
        <div class="reight-he" [style.background-image]="'url(' + frames.frame?.img_rigth + ')'"></div>
        <div class="squrl" [style.background-image]="'url(' + frames.frame?.img_rigth_bottom + ')'"></div>
      </div>
    </div>
    <button type="submit" (click)='onSubmit()' class="create" *ngIf='frames.isImg'>create word</button>
  </div>
  <ng-template #create>
    <app-create-img (mainApp)="deletImg($event)"></app-create-img>
  </ng-template>
<!-- 
  <div class="block" #block >
    <div class="myWrap">
      <div class="reigth-rm">

      </div>
      <div class="content">
        <form>
          <input type="text">
        </form>
      </div>
      <div class="left-rm">

      </div>
    </div>
    <button type="submit" (click)='onSubmit()' class="create" *ngIf='frames.isImg'>create word</button>
  </div> -->

</header>