<div class="modal-header">
  <h6 class="modal-title">գրելու պայմանները</h6>
  <div (click)="activeModal.dismiss()" class="close">
    <span aria-hidden="true" class="timess">&times;</span>
  </div>
</div>
<div class="modal-body">
  <p>
    Вы можете вводить слова буквами со своей клавиатуры. Фотослова в рамке могут быть от 3 букв до 9. А магнитами можно
    создать слова и даже фразы от 3 до 18 букв.
  </p>
  <p>
    Такие символы, как: +, =, -, & вводятся с помощью символа * (звездочка). Цифры вводятся как 123 и т.д.
    Чтобы создавать фотослова с изображением сердца, также поставьте * (звездочку) на месте, где оно должно быть.
    Например: Оля*Паша, или l*ve. После того, как вы нажмете кнопку “СОЗДАТЬ СЛОВО”, вам будет автоматически предложена
    фотография с изображением сердца на месте символа *. Чтобы изменить фотографию, нажмите на нее и в всплывающем окне
    выберете понравившуюся.
  </p>
  <p>
    Чтобы добавить свое фото, нужно: зарегистрироваться, составить слово подставив на место вашей фото любую другую
    букву, затем открыть попап замены буквы и выбрать раздел "Мои буквы", далее нужно будет нужно будет свою фотку и
    выбрать ее.
  </p>
  <hr>
</div>
