/* You can add global styles to this file, and also import other style files */

.ng-image-slider .ng-image-slider-container .main .next, .ng-image-slider .ng-image-slider-container .main .prev {
    right: 0 !important;
    top: 60% !important;
    width: 15px !important;
    height: 15px !important;
    font-size: 15px !important;
    line-height: 13px !important;
}

.ng-image-slider .ng-image-slider-container .main .prev {
    left: 0px !important;
}

body{
    margin: 0;
}